@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Playwrite+BE+VLG+Guides&display=swap");

/* Configurações gerais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  height: 100vh;
  width: 100vw;
}

/* Cabeçalho */
header {
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  width: 100%;
  height: 10%;
  /*border-bottom: 1px black solid;*/
  background-color: rgba(245, 232, 248);
}

/* Nav Quem sou? */
.navQuemSou {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 25%;
  font-size: 20px;
  margin-left: 10px;
  cursor: pointer;
}

/* Link Tratamentos */

.linkQuemsou {
  color: black;
}

/* Logo Nails da Josy */
.logoNailsJosy {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
  font-family: "Great Vibes", serif;
  font-weight: 400;
  font-style: normal;
  color: black;
  font-size: 2rem;
  text-decoration: none;
}

/* Nav Tratamentos */
.navTratamentos {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 25%;
  font-size: 20px;
  margin-right: 25px;
  cursor: pointer;
}

/* Link Tratamentos */
.linkTratamentos {
  color: black;
}

/* Main da página, todos os serviços */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90%;
  width: 100%;
}

/* Section serviço 1 */
.servico1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  height: 250px;
  width: 70%;
  margin-top: 7rem;
  /*border: 1px black solid;*/
}

/* Section demais serviços */

.servico {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  height: 250px;
  width: 70%;
  /*border: 1px black solid;*/
}

/* Imagem Section 1 */
.imagens {
  height: 80%;
  width: 80%;
  opacity: 1;
  /*border: 1px red solid;*/
}

/* Botão Agendar Horário Section 1 */
.botaoAgendarHorario {
  width: 75%;
  min-height: 15%;
  margin-top: 6px;
}

/* Media Queries */
@media (max-width: 480px) {
  .navQuemSou {
    font-size: 15px;
  }
  .navTratamentos {
    font-size: 15px;
  }
}
